<div class="panel new-project">
  <div class="row">
    <div class="panel-heading">
      <div class="col-md-1">
        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
      </div>
      <%= form_for @project, class: "form-inline", remote: true do |f| %>
      <div class="col-md-11">
        <div class="input-group">
          <%= f.text_field :title, class: "form-control" %>
          <span class="input-group-btn">
            <%= f.submit 'Create project', class: 'btn btn-primary'%>
          </span>
        </div>
      </div>
      <% end %>
    </div>
    <div class="panel-body">
    </div>
  </div>
</div>
