@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-image: linear-gradient(90deg, #a9ba9d, #ffbf00);
  color: #333;
}

h2 {
  color: #515151;
  text-align: center;
}

div#errors {
  color: red;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.panel {
  margin-bottom: 50px;
  border-radius: 0px;
  background-color: #93b0e1;
  color: #406278;
}

.panel-body {
  background-color: #b1c2c3;
  color: #589173;
}


.list-group-item {
border-bottom-width: 0px;
}